@page "/download"
@using TranscodeNowWebServer.Interfaces
@inject IWebHostEnvironment env
@inject NavigationManager nav
@inject IUserOptions userOptionsService
@inject IJSRuntime js

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 text-center">
                <div class="card-header">
                    Your file is ready to download!
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" @onclick="DownloadFileFromURL">Click me to download @userOptionsService.UserOptions.GeneralOptions.OutputFileName</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 text-center">
                <div class="card-header">
                    Thank you for using TranscodeNow!
                </div>
                <div class="card-body">
                    Click <a href="/">here</a> to go to the home page or <a href="upload">here</a> to upload a file.
                </div>
            </div>
        </div>
    </div>
</div>
