@page "/"
@inject NavigationManager nav

<PageTitle>Index</PageTitle>

<h1 class="text-center">Welcome to TranscodeNow!</h1>

<p class="text-center mx-2">TranscodeNow aims to provide a transcoding service that anyone can use effectively!</p>

<div class="get-started text-center">
    <a href="/upload" class="btn btn-primary btn-block" style="width:80%; ">Get Started</a>
</div>