@page "/result"
@using TranscodeNowWebServer.Interfaces
@inject IJSRuntime jsRuntime
@inject IHttpContextAccessor HttpContextAccessor
@inject IUploadedFileService UploadedFileService
@inject IUserOptions userOptions
@inject IWebHostEnvironment env
@inject NavigationManager nav
<h3>Result</h3>
