@page "/transcode"
@using TranscodeNowWebServer.Interfaces
@inject IJSRuntime jsRuntime
@inject IHttpContextAccessor HttpContextAccessor
@inject IUploadedFileService fileService
@inject IUserOptions userOptions
@inject IWebHostEnvironment env
@inject NavigationManager nav


@if (fileService.UploadedFileModel is null)
{
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="mx-auto align-items-center justify-content-center">
                    <p>
                        You appear to be here without selecting a file. Please go back to the <a href="/upload">upload page</a> and select a file.
                    </p>
                    <p>
                        If you refreshed the page, you will need to re-upload your file.
                    </p>
                    <a href="/upload" class="btn btn-primary">Try again</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="text-center">
                    <h1>Your file is being transcoded!</h1>
                </div>
                <p>
                    Hang tight! Your file is being transcoded. This may take a while, depending on the size of your file and the settings you chose. When your file is ready, you will be automatically taken to the download page.
                </p>
            </div>
        </div>
    </div>
}