@page "/transcode"

<PageTitle>Transcode</PageTitle>

<h1 class="text-center">Enter your settings</h1>

<p class="text-center mx-2">Now we need to know what you want to do to your file:</p>

@if (FileInfoReady)
{
    <div class="d-flex align-items-center justify-content-center">
        <div class="accordion w-100" id="ffmpegAccordion">
            <div class="card">
                <div class="card-header" id="userOptions">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#userOptionsCollapse" aria-expanded="true" aria-controls="resizeCollapse">
                            Your Settings
                        </button>
                    </h5>
                </div>

                <div id="userOptionsCollapse" class="collapse show" aria-labelledby="resizeHeading" data-parent="#ffmpegAccordion">
                    <div class="card-body">
                        <div>
                            <p>
                                This section contains all the settings that you have selected.
                            </p>
                        </div>
                        <div>
                            <label for="image-height">Image Height:</label>
                            <input type="number" id="image-height" @bind="ImageHeight" />
                        </div>
                        <div>
                            <label for="image-width">Image Width:</label>
                            <input type="number" id="image-width" @bind="ImageWidth" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="resizeHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#resizeCollapse" aria-expanded="true" aria-controls="resizeCollapse">
                                Resize Video
                            </button>
                        </h5>
                    </div>

                    <div id="resizeCollapse" class="collapse show" aria-labelledby="resizeHeading" data-parent="#ffmpegAccordion">
                        <div class="card-body">
                            <div>
                                <label for="image-height">Image Height:</label>
                                <input type="number" id="image-height" @bind="ImageHeight" />
                            </div>
                            <div>
                                <label for="image-width">Image Width:</label>
                                <input type="number" id="image-width" @bind="ImageWidth" />
                            </div>
                            <div class="d-flex flex-wrap">
                                <button class="btn btn-outline-primary me-3 mb-3" @onclick="() => SetImageResolution(1280, 720)">HD 720p</button>
                                <button class="btn btn-outline-primary me-3 mb-3" @onclick="() => SetImageResolution(1920, 1080)">FHD 1080p</button>
                                <button class="btn btn-outline-primary me-3 mb-3" @onclick="() => SetImageResolution(3840, 2160)">4K 2160p</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="audioHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#audioCollapse" aria-expanded="true" aria-controls="audioCollapse">
                                Extract Audio
                            </button>
                        </h5>
                    </div>

                    <div id="audioCollapse" class="collapse" aria-labelledby="audioHeading" data-parent="#ffmpegAccordion">
                        <div class="card-body">
                            <p>To extract audio from a video, use the following command:</p>
                            <code>ffmpeg -i input.mp4 -vn -acodec copy output.aac</code>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="watermarkHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#watermarkCollapse" aria-expanded="true" aria-controls="watermarkCollapse">
                                Add Watermark
                            </button>
                        </h5>
                    </div>

                    <div id="watermarkCollapse" class="collapse" aria-labelledby="watermarkHeading" data-parent="#ffmpegAccordion">
                        <div class="card-body">
                            <p>To add a watermark to a video, use the following command:</p>
                            <code>ffmpeg -i input.mp4 -i watermark.png -filter_complex "overlay=10:10" output.mp4</code>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


else
{
    <div class="alert alert-info" role="alert">
        <p class="mb-0">Please wait while we fetch information about your uploaded video or audio file...</p>
    </div>
}