@page "/upload"

<PageTitle>Upload</PageTitle>

<h1 class="text-center">Upload your file!</h1>

<p class="text-center mx-2">First, we need to know what type of file you are working with. Upload it below:</p>

<div class="d-flex align-items-center justify-content-center">
	<DragAndDrop />
</div>
